body {
    font-family: 'Verdana', sans-serif;
}

.banner-top {
    padding: 20px 0px 10px 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #adf;
    border-bottom: 3px solid #678;
    position: fixed;
    top: 0;
    left: 0;
}

.content-top {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-top: 80px;
}

.section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #eff;
    border: 1px solid #678;
    padding: 10px;
}

.header, .section-header {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.header {
    font-size: 24px;
}

.section-header {
    font-size: 20px;
}

.center-text {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    color: #0af;
}

.fill {
    width: 100%;
}

.most {
    width: 90%;
}

.strike {
    text-decoration: line-through;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    font-family: 'Palatino', serif;
    font-style: italic;
    font-size: 20px;
}

.quote-source {
    text-align: right;
}