body {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    background-color: #000;
}

.meta-wrapper {
    max-width: 800px;
    margin: 10px auto 10px auto;
}

.banner-top, .content-top, .button, .button-2 {
    border-radius: 5px;
    font-size: 16px;
}

.banner-top {
    padding: 10px 0px 10px 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #adf;
    box-shadow: 0 5px #79b;
}

.content-top {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 10px auto 10px auto;
    background-color: #57a;
    padding: 10px;
    box-shadow: 0 5px #257;
    color: #0ff;
}

@media (max-width: 800px) {
    .content-top {
        padding-top: 50px;
    }
}

.section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #eff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 5px #aaf;
}

@media (max-width: 800px) {
    .section {
        width: 90%;
    }
}

.header, .section-header {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.header {
    font-size: 24px;
}

.section-header {
    font-size: 20px;
}

.center-text {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a, a:visited {
    color: #05f;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    color: #0af;
}

a.a-dark, a.a-dark:visited {
    color: #0ff;
}

a.a-dark:hover, a.a-dark:focus {
    color: #fff;
}

.most {
    width: 90%;
}

.strike {
    text-decoration: line-through;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    font-family: 'Palatino', serif;
    font-style: italic;
    font-size: 20px;
}

.quote-source {
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}

table.spec-table th, table.spec-table td {
    font-size: 12px;
}

.fill-table {
    width: 400px;
}

input[type=text] {
    display: inline-block;
    background-color: #000;
    color: #0ff;
    border: 2px solid #0ff;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    font-family: monospace;
}

input[type=text]:hover {
    background-color: #057;
}

input[type=text]:focus {
    background-color: #079;
}

.font-bold {
    font-weight: bold;
}

button, .button, .button-2 {
    background-color: #9ef;
    padding: 10px;
    max-width: 400px;
    margin: 10px auto 10px auto;
    box-shadow: 0 5px #6ad;
    text-align: center;
    border: none;
}

.fill {
    width: 100%;
}

.button:hover, .button:focus, .button-2:hover, .button-2:focus {
    background-color: #cff;
    cursor: pointer;
    color: #0af;
}

hr.hr-dark {
    border: 2px solid #7ef; 
}

.attach-left {
    padding-left: 0;
}

@media (max-width: 800px) {
    td, th {
        font-size: 10px;
    }
}