/**
 * DEFINITIONS
 **/
@font-face {
  font-family: 'Dancing Donuts';
  src: url('./assets/fonts/dancingdonuts/DancingDonutsNF.ttf');
}

@font-face {
  font-family: 'CuppaJoe Regular';
  src: url('./assets/fonts/cuppajoe/CuppaJoe.ttf');
}

@font-face {
  font-family: 'StormFaze Regular';
  src: url('./assets/fonts/stormfaze/stormfaze.ttf');
}

/**
 * GENERAL STYLES
 **/
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #222;
}

.fill {
  width: 100%;
}

.justify-center {
  margin-left: auto;
  margin-right: auto;
}

.justify-left {
  margin-left: 0;
  margin-right: auto;
}

.justify-right {
  margin-left: auto;
  margin-right: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.border-basic {
  border: 1px solid #000;
}

.border-bottom-thick {
  border-bottom: 3px solid #000;
}

.border-bottom-thin {
  border-bottom: 1px solid #000;
}

.scroll-x {
  overflow-x: scroll;
  white-space: nowrap;
}

.scroll-y {
  overflow-y: scroll;
}

/**
 * TEXT STYLES
 **/

.heading-1 {
  font-size: 30px;
}

.heading-3 {
  font-size: 24px;
}

.company-name {
  font-family: 'StormFaze Regular', sans-serif;
  font-size: 60px;
}

.pad {
  padding: 10px;
}

/**
 * WIDGET STYLES
 **/

.company-logo {
  position: fixed;
  top: 0;
  left: 0;
}

.button-link {
  display: inline-block;
  text-align: center;
  padding: 10px;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
  border-bottom: 3px solid rgba(0, 0, 0, 0%);
  cursor: pointer;
}

.button-link:hover, .button-link:focus {
  background-color: #555;
  color: #fff;
}

.button-wide {
  min-width: 150px;
  max-width: 250px;
}

.button-standalone {
  background-color: #aaa;
  box-shadow: 2px 2px #888;
}

.link-current {
  border-bottom: 3px solid #000;;
}

.product-container {
}

input[type="text"], input[type="password"] {
  box-shadow: 2px 2px #aaa;
}

.product-item {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #888;
  /* border-top: 6px solid #888; */
  box-shadow: 5px 5px #666;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
}

.product-item:hover, .product-item:focus {
  background-color: #ddf;
}

/**
 * LAYOUT STYLES
 **/

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #bbb;
  border-bottom: 4px solid #000;
}

.meta-wrapper {
  margin-top: 50px;
  max-width: 85%;
}

.header {
  background-color: #eee;
}

.container, .container-blank {
  margin-bottom: 10px;
  box-shadow: 5px 5px #777;
  border: 1px solid #777;
}

.container {
  background-color: #ccc;
}

.section-header {
  background-color: #eee;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #777;
}

.sub-container, .sub-container-wide {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 5px 5px #777;
}

.sub-container {
  max-width: 400px;
}

.sub-container-wide {
  max-width: 90%;
}

.footer {
  padding: 10px 0 10px 0;
}