body {
  font-family: 'Trebuchet MS', sans-serif;
}

ul, table {
  border: 1px solid #000;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table th, table td {
  text-align: left;
}

ul {
  list-style: none;
}

ul li:before {
  content: '+ ';
}

.grow {
  width: 90%;
}